---
import Card from "./card.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// Importa el archivo de proyectos correspondiente al idioma
let projects;
if (lang === "es") projects = (await import("@/data/projects/es.json")).default;
else projects = (await import("@/data/projects/en.json")).default;
---

<section class="flex flex-col items-center scroll-mt-20 mt-20" id="projects">
  <div class="max-w-4xl">
    <div class="flex flex-col items-center text-center">
      <h1 class="text-4xl font-extrabold leading-tight font-display">
        {t("projects.title")}
      </h1>
      <p class="text-muted-foreground mt-4 text-balance">
        {t("projects.description")}
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-10">
      {projects.map((project) => <Card {...project} />)}
    </div>
  </div>
</section>
