---
import { getLangFromUrl } from "@/i18n/utils";
import { ReCaptcha } from "@/components/ui/recaptcha";
import { Skills } from "@/components/skills";
import { Toaster } from "@/components/ui/sonner";
import About from "@/components/home/about.astro";
import Contact from "@/components/contact";
import Experience from "@/components/experience/index.astro";
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/home/projects.astro";

const lang = getLangFromUrl(Astro.url);

export function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}
---

<Layout lang={lang}>
  <div class="max-w-7xl mx-auto py-24 px-6">
    <About />
    <Skills lang={lang} client:load />
    <Projects />
    <Experience />
    <Contact lang={lang} client:load><ReCaptcha client:only="react" /></Contact>
  </div>
  <Toaster client:load />
</Layout>
