---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Skills } from "@/components/skills";
import About from "@/components/about/index.astro";
import Experience from "@/components/experience/index.astro";
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/projects/index.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}
---

<Layout lang={lang}>
  <div class="max-w-7xl mx-auto py-24 px-6">
    <About />
    <Skills client:load title={t("skills.title")} description={t("skills.description")} />
    <Projects />
    <Experience />
  </div>
</Layout>
