---
import ExperienceCard from "./card.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// Importa el archivo de experiencias correspondiente al idioma
let experiences;
if (lang === "es") experiences = (await import("@/data/experience/es.json")).default;
else experiences = (await import("@/data/experience/en.json")).default;
---

<section class="flex flex-col items-center scroll-mt-20 mt-20" id="experience">
  <div class="max-w-4xl">
    <h1 class="text-4xl font-extrabold leading-tight font-display text-center">Experiencia Profesional</h1>
    <p class="text-muted-foreground text-center mb-10 mt-4 text-balance">
      A lo largo de mi carrera, he tenido la oportunidad de trabajar en una variedad de proyectos que abarcan desde
      aplicaciones web hasta sistemas de gestión empresarial. Aquí hay un resumen de mi experiencia laboral:
    </p>

    <div class="mt-10">
      {experiences.map((exp) => <ExperienceCard {...exp} />)}
    </div>
  </div>
</section>
